.grid-item 
{ 
    width: 125px;
    background-color: red; 
    height: 125px;
}

/* Draggabilly adds is-dragging */
.grid-item.is-dragging,
/* Packery adds class while transitioning to drop position */
.grid-item.is-positioning-post-drag 
{
    background: #C90;
    z-index: 2; /* keep dragged item on top */
}